<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ajout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
        <ion-item color="secondary" lines="none">
          <ion-label class="ion-text-center" >
            <h1>Ajouter un étudiant </h1>
          </ion-label>
        </ion-item>
  </ion-card>
  <ion-list>
      <ion-item>
        <ion-label position="floating">Titre</ion-label>
        <ion-input type="text" [(ngModel)]="titre" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Auteur</ion-label>
        <ion-input type="text" [(ngModel)]="auteur"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input type="text" [(ngModel)]="prix"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="text" [(ngModel)]="quantity"></ion-input>
      </ion-item>
  </ion-list>
  <div>
    <ion-button (click)="ajouter();" >Ajouter</ion-button>
  </div>
</ion-content>
